<h1>Update your details</h1>

<form action="/students/<%= @student.id %>" method="post">
  <p>
    <label>
      First name: 
      <input type="text"  name="first_name" value= "<%= @student.first_name %>"/>

    </label>
  </p>

  <p>
    <label>
      Second name: 
      <input type="text"  name="second_name" value= "<%= @student.second_name %>"/>
    </label>
  </p>


  <p>
  <label>
    House:
    <select name="house_id">
      <option disabled selected>select..</option>
    <% for house in @houses %>
      <option <%= "selected" if @student.house.id == house.id %> value="<%= house.id %>"><%= house.name %></option>
    <% end %>
    </select>
    </label>
  </p>


  <p>
    <label>
      Age: 
      <input type="number"  name="age" value= "<%= @student.age %>"/>
    </label>
  </p>

  <input type="submit" value="Update" />

</form>